Pandas

'''<br>

@Author: Venkatesh <br>
@Date: 2024-08-24 18:00:30 <br>
@Last Modified by: Author Name <br>
@Last Modified time: 2024-08-24 18:00:30 <br>
@Title : Program on pandas  <br>

'''

In [1]:
import pandas as pd
import numpy as np

1.Write a Python program to create and display a one-dimensional array-like object
containing an array of data using Pandas module.

In [2]:
def one_d_pandas(list_items):
    '''
          Description: 
                this function is creating one dimention array as object
          Parameters: 
                list_items(list_items):list of items
          Return : 
                returns one dimentional array data using pandas module
    '''
    result_array=pd.Series(list_items)
    return result_array


def main():
    list_items=[12,23,13.32,100,36,32]
    print(one_d_pandas(list_items))


if __name__=="__main__":
    main()

0     12.00
1     23.00
2     13.32
3    100.00
4     36.00
5     32.00
dtype: float64

2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [3]:
def pandas_seris_list(data):
    '''
          Description: 
                this function is convering panda module series to python list and its type
          Parameters: 
                data[]:list panda module series items
          Return : 
                None
    '''
    list_result=data.tolist()
    print("After convering pandas series to list")
    print(list_result)
    print("type of list is",type(list_result))


def main():
    data=[10, 20, 30, 40, 50]
    data=pd.Series(data)
    pandas_seris_list(data)


if __name__=="__main__":
    main()

After convering pandas series to list
[10, 20, 30, 40, 50]
type of list is <class 'list'>

3. Write a Python program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [4]:
def pandas_series_mathematical(data_1,data_2):
    '''
          Description: 
                this function is adding ,substraction , multiplication and dividing two panda series
          Parameters: 
                data_1[]:list of panda module series items
                dat_2[]: list of panda module series items
          Return : 
                None
    '''
    add=data_1+data_2
    substraction=data_1-data_2
    multiplication=data_1*data_2
    devide=data_1/data_2
    print("adding two panda series:",add)
    print("substraction :",substraction)
    print("multiplication:",multiplication)
    print("devide :",devide)
    


def main():
    data_1=[2,4,6,8,10]
    data_1=pd.Series(data_1)
    data_2=[1,3,5,7,9]
    data_2=pd.Series(data_2)
    pandas_series_mathematical(data_1,data_2)


if __name__=="__main__":
    main()

adding two panda series: 0     3
1     7
2    11
3    15
4    19
dtype: int64
substraction : 0    1
1    1
2    1
3    1
4    1
dtype: int64
multiplication: 0     2
1    12
2    30
3    56
4    90
dtype: int64
devide : 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Python program to get the powers of an array values element-wise.
Note: First array elements raised to powers from second array
Expected Output:
Original array
[0 1 2 3 4 5 6]

First array elements raised to powers from second array, element-wise:[ 0 1 8 27 64 125 216]

In [5]:
def powers_of_array_values(original_array,power_array):
    '''
          Description: 
                this function is getting power of one array with using power of second array
          Parameters: 
                original_array: list panda module series items
                power_array: list panda module series items
          Return : 
                returns powers from second array element 
    '''
    power_value_result=original_array**power_array
    return power_value_result.values


def main():
    original_array=[0,1,2,3,4,5,6]
    original_array=pd.Series(original_array)
    power_array=pd.Series([1,3,3,3,3,3,3])
    print("Original array:",original_array.values)
    print(f"First array elements raised to power from second array element wise",powers_of_array_values(original_array,power_array))


if __name__=="__main__":
    main()

Original array: [0 1 2 3 4 5 6]
First array elements raised to power from second array element wise [  0   1   8  27  64 125 216]

5. Write a Python program to create and display a DataFrame from a specified dictionary
data which has the index labels.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [6]:
def data_frame_data(data,labels):
    '''
          Description: 
                this function is displaying data frame using pandas with labels
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
                returns the data frame
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    return data_frame_result


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print("data frame with labels:")
    print(data_frame_data(data,labels))


if __name__=="__main__":
    main()

data frame with labels:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

6. Write a Python program to display a summary of the basic information about a
specified Data Frame and its data.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [7]:
def summary_data_frame(data,labels):
    '''
          Description: 
                this function is displaying summary of data frame
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
                returns data frame summary and data frame
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    data_frame_result.info()
    return data_frame_result.describe(include='all')


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print(summary_data_frame(data,labels))


if __name__=="__main__":
    main()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
             name      score   attempts qualify
count          10   8.000000  10.000000      10
unique         10        NaN        NaN       2
top     Anastasia        NaN        NaN     yes
freq            1        NaN        NaN       5
mean          NaN  13.562500   1.900000     NaN
std           NaN   4.693746   0.875595     NaN
min           NaN   8.000000   1.000000     NaN
25%           NaN   9.000000   1.000000     NaN
50%           NaN  13.500000   2.000000     NaN
75%           NaN  17.125000   2.750000     NaN
max           NaN  20.000000   3.000000     NaN

7. Write a Python program to get the first 3 rows of a given DataFrame.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [8]:
def first_three_rows_data_frame(data,labels):
    '''
          Description: 
                this function is displaying first three data frame of data
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
                returns data frame first three rows 
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    
    return data_frame_result.head(3)


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print(first_three_rows_data_frame(data,labels))


if __name__=="__main__":
    main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

8. Write a Python program to select the 'name' and 'score' columns from the following
DataFrame.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [9]:
def name_score_data_frame(data,labels):
    '''
          Description: 
                this function is displaying name, lables only in data frame
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
                returns print specific name score
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    return data_frame_result[['name','score']]


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print(f"Data frame for name and score:",name_score_data_frame(data,labels))


if __name__=="__main__":
    main()

Data frame for name and score:         name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

9. Write a Python program to select the specified columns and rows from a given data
frame.
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [10]:
def specific_column_data_frame(data,labels):
    '''
          Description: 
                this function is displaying name,score specific columns
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
                return specified column rows data frame 
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    selected_rows=data_frame_result.loc[['b','d','f','g'],['name','score']]
    return selected_rows


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print(specific_column_data_frame(data,labels))


if __name__=="__main__":
    main()

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

10. Write a Python program to select the rows where the number of attempts in the
examination is greater than 2.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [11]:
def attempts_greater_than_two(data,labels):
    '''
          Description: 
                this function is displaying name,score specific columns
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
                return number of attepts in the examination is greater 2 
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    result=data_frame_result[data_frame_result['attempts']>2]
    return result

def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print(attempts_greater_than_two(data,labels))


if __name__=="__main__":
    main()

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

11. Write a Python program to count the number of rows and columns of a DataFrame.
Sample data:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [12]:
def rows_columns_count(data,labels):
    '''
          Description: 
                this function is displaying name,score specific columns
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
               None
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    rows=data_frame_result.shape[0]
    columns=data_frame_result.shape[1]
    print(f"row count in data frame :{rows}")
    print(f"columns count in data frame:{columns}")


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    rows_columns_count(data,labels)


if __name__=="__main__":
    main()

row count in data frame :10
columns count in data frame:4

12. Write a Python program to select the rows where the score is missing, i.e. is NaN.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [13]:
def score_missing_count(data,labels):
    '''
          Description: 
                this function is displaying name,score specific columns
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
               returns score missing count 
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    result_count=data_frame_result[data_frame_result['score'].isna()]
    return result_count


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print(score_missing_count(data,labels))


if __name__=="__main__":
    main()

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

13. Write a Python program to select the rows where number of attempts in the
examination is less than 2 and score greater than 15.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [14]:
def selcted_rows_method(data,labels):
    '''
          Description: 
                this function is displaying name,score specific columns
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
               returns score missing count 
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    selected_rows=data_frame_result[(data_frame_result['score']>15) & (data_frame_result['attempts']<2)]
    return selected_rows


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print(selcted_rows_method(data,labels))


if __name__=="__main__":
    main()

    name  score  attempts qualify
j  Jonas   19.0         1     yes

14. Write a Python program to change the score in row 'd' to 11.5.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',

'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [15]:
def changing_score_data_frame(data,labels):
    '''
          Description: 
                this function is displaying name,score specific columns
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
               returns data frame after changing 
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    data_frame_result.at['d','score']=11.5
    return data_frame_result


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print(changing_score_data_frame(data,labels))


if __name__=="__main__":
    main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

15. Write a Python program to calculate the sum of the examination attempts by the
students.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [16]:
def sum_of_attemps(data,labels):
    '''
          Description: 
                this function is displaying name,score specific columns
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
               returns sum of row attepts
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    result_sum=data_frame_result['attempts'].sum()
    return result_sum


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print(f"sum of total attempts is:{sum_of_attemps(data,labels)}")


if __name__=="__main__":
    main()

sum of total attempts is:19

16. Write a Python program to calculate the mean score for each different student in
DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [17]:
def mean_of_score(data,labels):
    '''
          Description: 
                this function is displaying name,score specific columns
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
               returns mean of students score
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    result_mean=data_frame_result.groupby("name")['score'].mean()
    return result_mean


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print(f"mean of students score:{mean_of_score(data,labels)}")


if __name__=="__main__":
    main()

mean of students score:name
Anastasia    12.5
Dima          9.0
Emily         9.0
James         NaN
Jonas        19.0
Katherine    16.5
Kevin         8.0
Laura         NaN
Matthew      14.5
Michael      20.0
Name: score, dtype: float64

17. Write a Python program to append a new row 'k' to data frame with given values for
each column. Now delete the new row and return the original DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
Values for each column will be:
name : "Suresh", score: 15.5, attempts: 1, qualify: "yes", label: "k"

In [18]:
def adding_deleting_row(data,labels,new_row):
    '''
          Description: 
                this function is displaying name,score specific columns
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
                new_row[]: adding new row to data frame
          Return : 
               None
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    data_frame_result.loc['k']=new_row
    print("Added row :")
    print(data_frame_result)
    data_frame_result=data_frame_result.drop('k')
    print("after removing k value")
    print(data_frame_result)


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    new_row=pd.Series({'name': "Suresh", 'score': 15.5, 'attempts': 1, 'qualify':"yes"},name='k')
    adding_deleting_row(data,labels,new_row)


if __name__=="__main__":
    main()

Added row :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes
after removing k value
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

18. Write a Python program to sort the DataFrame first by 'name' in descending order,
then by 'score' in ascending order.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
Values for each column will be:
name : "Suresh", score: 15.5, attempts: 1, qualify: "yes", label: "k"

In [19]:
def data_frame_sorted_order(data,labels,new_row):
    '''
          Description: 
                this function is sorted order based on name descending score is ascending order
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
                new_row: adding new row to data frame
          Return : 
               None
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    data_frame_result.loc['k']=new_row
    print("Added row :")
    print(data_frame_result)
    print("after sorting name descending score is ascending order")
    data_frame_result=data_frame_result.sort_values(by=['name', 'score'], ascending=[False, True])
    print(data_frame_result)


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    new_row=pd.Series({'name': "Suresh", 'score': 15.5, 'attempts': 1, 'qualify':"yes"},name='k')
    data_frame_sorted_order(data,labels,new_row)


if __name__=="__main__":
    main()

Added row :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes
after sorting name descending score is ascending order
        name  score  attempts qualify
k     Suresh   15.5         1     yes
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

19. Write a Python program to replace the 'qualify' column contains the values 'yes' and
'no' with True and False.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [20]:
def replace_qualify_rows(data,labels):
    '''
          Description: 
                this function is replacing colunm yes and no with True and False
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
               returns the after replacing 
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    
    data_frame_result['qualify']=data_frame_result['qualify'].replace({'yes':True,'no':False})
    return data_frame_result


def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print(replace_qualify_rows(data,labels))


if __name__=="__main__":
    main()

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

C:\Users\Venkatesh Bingi\AppData\Local\Temp\ipykernel_2756\835690048.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_frame_result['qualify']=data_frame_result['qualify'].replace({'yes':True,'no':False})

20.Write a Python program to delete the 'attempts' column from the DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [28]:
def deleted_attempts_column(data,labels):
    '''
          Description: 
                this function is deleting column from data frame
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
               returns the after deleting column
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    
    data_frame_result=data_frame_result.drop('attempts',axis=1)
    return data_frame_result

def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print(deleted_attempts_column(data,labels))


if __name__=="__main__":
    main()

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

21.Write a Python program to insert a new column in existing DataFrame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [22]:
def adding_column_exist_data_frame(data,labels):
    '''
          Description: 
                this function is deleting column from data frame
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
               returns the after deleting column
    '''
    data_frame_result=pd.DataFrame(data,index=labels)
    
    data_frame_result['age']=[23,24,26,26,47,45,21,18,19,20]
    return data_frame_result

def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print(adding_column_exist_data_frame(data,labels))


if __name__=="__main__":
    main()

        name  score  attempts qualify  age
a  Anastasia   12.5         1     yes   23
b       Dima    9.0         3      no   24
c  Katherine   16.5         2     yes   26
d      James    NaN         3      no   26
e      Emily    9.0         2      no   47
f    Michael   20.0         3     yes   45
g    Matthew   14.5         1     yes   21
h      Laura    NaN         1      no   18
i      Kevin    8.0         2      no   19
j      Jonas   19.0         1     yes   20

22.Write a Python program to iterate over rows in a DataFrame.

In [23]:
def iterate_row_data_frame(data,labels):
    '''
          Description: 
                this function is iterate row from data frame
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
               None
    '''
    data_frame=pd.DataFrame(data,index=labels)
    for index, row in data_frame.iterrows():
        print(f"Index: {index}")
        print(f"Name: {row['name']}, Score: {row['score']}, Attempts: {row['attempts']}, Qualify: {row['qualify']}")
        print("-" * 40)
    

def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    iterate_row_data_frame(data,labels)


if __name__=="__main__":
    main()

Index: a
Name: Anastasia, Score: 12.5, Attempts: 1, Qualify: yes
----------------------------------------
Index: b
Name: Dima, Score: 9.0, Attempts: 3, Qualify: no
----------------------------------------
Index: c
Name: Katherine, Score: 16.5, Attempts: 2, Qualify: yes
----------------------------------------
Index: d
Name: James, Score: nan, Attempts: 3, Qualify: no
----------------------------------------
Index: e
Name: Emily, Score: 9.0, Attempts: 2, Qualify: no
----------------------------------------
Index: f
Name: Michael, Score: 20.0, Attempts: 3, Qualify: yes
----------------------------------------
Index: g
Name: Matthew, Score: 14.5, Attempts: 1, Qualify: yes
----------------------------------------
Index: h
Name: Laura, Score: nan, Attempts: 1, Qualify: no
----------------------------------------
Index: i
Name: Kevin, Score: 8.0, Attempts: 2, Qualify: no
----------------------------------------
Index: j
Name: Jonas, Score: 19.0, Attempts: 1, Qualify: yes
----------------------------------------

23. Write a Python program to get list from DataFrame column headers.
Sample data:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [24]:
def column_headers(data,labels):
    '''
          Description: 
                this function is getting column headers
          Parameters: 
                data{} : list of key and list elements data
                labels[] : list of lebels items
          Return : 
               returns the only colums of data frame
    '''
    data_frame=pd.DataFrame(data,index=labels)
    columns_result=data_frame.columns.tolist()
    return columns_result
    

def main():
    data={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
          'Matthew', 'Laura', 'Kevin', 'Jonas'],
         'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    print("columns of data frame are:",column_headers(data,labels))


if __name__=="__main__":
    main()

columns of data frame are: ['name', 'score', 'attempts', 'qualify']